/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Colors used
Text Color (light brown): #272a37;
Primary Color (green): #B5CDA3;
Secondary Color (light green): #C9E4C5;
Button Color (green): #36802d;
Background Color (tan): #FAEBE0;

 */

 /*----- Variables -----*/

body {
  background-color: #FAEBE0;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  padding: 0 16px;
}

h1 {
  font-family: "lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-family: "lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-family: "lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

a:visited {
  /* visited link */
  color: #272a37;
}

a {
  color: #36802d;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #36802d;
}

/*----- Buttons -----*/

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #36802d;
  color: #B5CDA3;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #36802d;
  color: #B5CDA3;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  background-color: #36802d;
  color: #B5CDA3;
  opacity: 0.8;
}

button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  background-color: #36802d;
  color: #B5CDA3;
  opacity: 0.8;
}

.button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  background-color: #36802d;
  color: #B5CDA3;
  opacity: 0.8;
}

.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  background-color: #36802d;
  color: #B5CDA3;
  opacity: 0.8;
}

.button__secondary {
  background-color: #36802d;
  color: #B5CDA3;
}

/*----- Header -----*/

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

/*----- Home Page, Footer and Grid -----*/

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.contact {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
}

.page-footer {
  clear: both;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.about {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

ul {
 list-style: none;
}

.page-footer {
    clear: both;
    display: column;
    text-align: center;
}

.profile__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: lightgray;
  width: auto;
  min-height: auto;
  margin: 0;
}

/*----- Animation -----*/

@-webkit-keyframes color-change{
  0%{
   fill: #edc655;
  }
  50%{
    fill: #fcffad;
  }
  100%{
    fill: #f76414;
  }
}

@keyframes color-change{
  0%{
   fill: #edc655;
  }
  50%{
    fill: #fcffad;
  }
  100%{
    fill: #f76414;
  }
}

.sun{
  -webkit-animation:4s color-change infinite alternate linear;
          animation:4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

/*----- Media Queries -----*/

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
